@import "tailwindcss";

@theme {
  --font-sans: InterVariable, sans-serif;
  --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

:root {
  background-color: #171a20;
  color: whitesmoke;
  font-family: InterVariable, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-width: 100vw;
  min-height: 100vh;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 1);
  border: 1px inset rgba(100, 100, 100, 0.2);
}

.movie-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
}
